node_modules
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/tmp/
debian/node-red-node-ping/
debian/node-red-node-random/
debian/node-red-node-smooth/
debian/node-red-node-pi-gpio/
debian/node-red-node-serialport/
